<template>
  <div>
    <h1>Cadastro</h1>
    <p>Nome:</p>
    <br>
    <input
    type="text"
    v-model="nome"
    placeholder="Nome">
    <br>
    <p>Email:</p>
    <br>
    <input
    type="email"
    v-model="email"
    placeholder="Email">
    <br>
    <p>Senha:</p>
    <br>
    <input
    type="password"
    v-model="senha"
    placeholder="Senha">
    <br>
    <p>Confirme a senha:</p>
    <input
    type="password"
    v-model="senhaConfirma"
    placeholder="Senha">
    <br>
    <button
      @click="cadastro"
      exact :style="{ cursor: 'pointer'}">
      Cadastrar
    </button>
    <br>
    <router-link
      tag="button"
      to="/"
      exact :style="{ cursor: 'pointer'}">
      Início
    </router-link>
    <br>
    <router-link
      tag="button"
      to="/loja"
      exact :style="{ cursor: 'pointer'}">
      É uma loja?
    </router-link>
    <div class="danger-alert" v-html="error" />
  </div>
</template>

<script>
import AuthenticationService from '@/services/AuthenticationService'

// pega a lib cadastro do AuthenticationService!

export default {
  data () {
    return {
      nome: '',
      email: '',
      senha: '',
      senhaConfirma: '',
      error: null
    }
  },
  methods: {
    async cadastro () {
      // console.log('cadastro em processo!')
      try {
        await AuthenticationService.cadastro({
          nome: this.nome,
          email: this.email,
          senha: this.senha,
          senhaConfirma: this.senhaConfirma
        })
      } catch (error) {
        // console.log('erro')
        // console.log(error.response.data)
        this.error = error.response.data.error
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

.danger-alert {
  color: red;
}
</style>
