<template>
  <div>
    <h1>{{ msg }}</h1>
    <p>Seu usuário: {{ message }}</p>
    <br>
    <input
    v-model="message"
    placeholder="edit me">
    <br>
    <p>Sua senha: {{ password }}</p>
    <br>
    <input
    type="password"
    v-model="password"
    placeholder="edit me">
    <br>
    <br>
    <button
      @onclick="login"
      exact :style="{ cursor: 'pointer'}">
      Login
    </button>
    <br>
    <router-link
      tag="button"
      to="/"
      exact :style="{ cursor: 'pointer'}">
      Início
    </router-link>
    <br>
    <router-link
      tag="button"
      to="/loja"
      exact :style="{ cursor: 'pointer'}">
      É uma loja?
    </router-link>
  </div>
</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      msg: 'Login',
      message: ''
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
