<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <router-link
        tag="span"
        to="/cadastro"
        exact :style="{ cursor: 'pointer'}">
        Cadastro
    </router-link>
    <br>
    <router-link
        tag="span"
        to="/login"
        exact :style="{ cursor: 'pointer'}">
        Login
     </router-link>
     <br>
        <router-link
        tag="span"
        to="/loja"
        exact :style="{ cursor: 'pointer'}">
        Área do lojista
     </router-link>
  </div>
</template>

<script>
export default {
  name: 'Mainpage',
  data () {
    return {
      msg: 'Bem vindo ao primeiro projeto Vue.js com SQL e Express.js!'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.router-link-hover {
  cursor: pointer;
}
</style>
